body {
    font-family: $nunito-sans;
}

a {
    color: inherit;
}

.country-details-layout {
    @include flex(row, wrap, center);
    align-items: flex-start;
    height: 90vh;
    background-color: $light-mode-background;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.country-details-image {
    @include flex(column, wrap, center);
    margin-right: 50px;

    button {
        @include linkButton(white);
        width: 100px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
        align-self: flex-start;
        //trbl
        margin: 50px 0 50px 0;
    }

    img {
        width: 400px;
        height: auto;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    }
}

.country-details-text {
    @include flex(column, nowrap, space-between);
    align-items: flex-start;
    margin: 100px 0px 0px 50px;
}

.country-details-text-title {
    font-size: 21px;
}

.country-details-text-column {
    @include flex(row, wrap, space-between);

    .country-details-text-column-left{
        margin-right: 50px;
    }

    .country-details-text-column-right{
        align-self: flex-start;
    }
}

.country-details-text-borders-row {
    @include flex(row, wrap, flex-start);
    width: 430px;

    .borderCountriesLinks {
        @include linkButton(white);
        font-size: 13px;
        border-radius: 5px;
        box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
        padding: 10px;
        margin: 3px;
    }
}

@media screen and (max-width: 750px) {
    .country-details-layout {
        height: 90%;
    }
    
    .country-details-image {
        margin-right: 0;
        width: 300px;
        
        img {
            width: 300px;
            height: 200px;
        }
    }
    
    .country-details-text {
        margin-top: 50px;
    }

    .country-details-text-borders-row {
        width: 100%;
    }
}