.header-component-style {
    @include flex(row, nowrap, space-between);
    height: 9vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.header-title {
    margin-left: 50px;
    font-size: 1em;
    font-family: $nunito-sans;
}