html, body {
    font-family: 'Nunito Sans', sans-serif;
}

.body-component-style {
    background-color: whitesmoke;
    height: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.body-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    margin: 35px 0px 35px 50px;
}

.filter-box {
    margin: 25px 50px 25px 0px;
}

.countries-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');


.card {
    width:300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-bottom: 70px;
    cursor: pointer;
}

.card-info {
    padding-left: 20px;
}

.flag-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.search-box {
    /* Search box border */
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 350px;
    transition: width 0.5s ease-in-out;

    /* Search box icon */
    background-color: white;
    background-image: url("https://www.w3schools.com/howto/searchicon.png");
    background-position: 10px 10px;
    background-repeat: no-repeat;

    /* Search box text */
    font-size: 16px;
    padding: 12px 20px 12px 50px;
}

.search-box:focus {
    width: 30%;
}