.header-component-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.header-title {
    margin-left: 50px;
}

.theme-mode {
    margin-right: 50px;
}



